.layouts-tag-list {
  .layouts-tag-group {
    padding: 0;
    margin: 0;
  }

  .layouts-tag-group-toggler {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 100%;
    padding-left: 0;
    padding: 1rem 0;

    .layouts-tag-group-title {
      margin: 0;
    }

    svg {
      margin-right: 0.5rem;
    }
  }

  .layouts-tag-group-contents {
    background: var(--primary-very-low);
    padding: 0.5rem;
    border-radius: 0.15rem;
    border: 1px solid var(--primary-low);
    display: flex;
    flex-flow: $display-style wrap;
  }
}

.sidebar.full {
  .layouts-tag-list .layouts-tag-group-contents {
    background: none;
    border: none;
  }
}
