.layouts-tag-list, .rs-layouts-tag-list {
  .layouts-tag-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0.15rem;

    .tag-count {
      font-size: var(--font-down-1);
      vertical-align: middle;
      line-height: var(--line-height-small);
      margin-left: 0.25rem;
    }

    .box {
      transition: background-color 0.25s ease;
      &:hover,
      &:focus {
        background-color: var(--primary-low-mid);
      }
    }

    .bullet {
      transition: color 0.25s ease;
      &::before {
        transition: background-color 0.25s ease;
      }
      &:hover,
      &:focus {
        color: var(--primary-high);
        &::before {
          background-color: var(--primary-medium);
        }
      }
    }

    &:not(:last-child) {
      .simple::after {
        @if $display-style == row {
          content: ',';
        }
      }
    }
    .simple {
      transition: color 0.25s ease;

      &:hover,
      &:focus {
        color: var(--primary-low-mid);
      }
    }
  }

  .layouts-tag-contents {
    display: flex;
    flex-flow: $display-style wrap;
  }
}
