a.l-tags-header {
  color: var(--primary);
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  transition: color 0.25s ease;

  &:hover,
  &:focus {
    color: var(--primary-low-mid);
  }
}

.l-tag-items {
  list-style: none;
  margin-left: 0;

  display: flex;
  flex-flow: $display_style wrap;

  h4 {
    margin-top: 1rem;
    flex-basis: 100%;
  }

  .l-tag-link {
    cursor: pointer;
    margin: 0.15rem;

    .box {
      transition: background-color 0.25s ease;
      &:hover,
      &:focus {
        background-color: var(--primary-low-mid);
      }
    }

    .bullet {
      transition: color 0.25s ease;
      &::before {
        transition: background-color 0.25s ease;
      }
      &:hover,
      &:focus {
        color: var(--primary-high);
        &::before {
          background-color: var(--primary-medium);
        }
      }
    }

    &:not(:last-child) {
      .simple::after {
        content: ","; // todo make only if site setting is on row wrap instead of column wrap
      }
    }
    .simple {
      transition: color 0.25s ease;

      &:hover,
      &:focus {
        color: var(--primary-low-mid);
      }
    }
  }
}
